@charset "UTF-8";
@import "_base.scss";

.bl_about{

  &_ttl{
    font-weight: bold;
    padding-top: 0;
  }

  &_inner{
    @include media(pc){
      display: flex;
      align-items: flex-start;
    }
  }

  &_txt{
    @include media(pc){
      width: 60%;
      padding-right: 3em;
      margin-top: 0;
    }
  }

  &_img{
    width: 100%;
    margin: 0 auto;

    @include media(pc){
      width: 50%;
    }
  }
}