@charset "UTF-8";
@import "_base.scss";

.bl_aside{
  background: $accent-color;
  box-shadow: 0 2px 6px rgba(47, 59, 76, 0.32);
  padding: 30px 20px;

  @include media(pc){
    width: 30%;
  }

  &_inner{
    width: 98%;
    margin: 0 auto 3em;
  }
  
  &_ttl{

    @include media(pc){
      margin-bottom: 1em;
    }
  }

  &_link.ly_btn{
    color: $main-color;
    background: $sub-color;
    text-align: center;
    padding: 1.2em;

    @include media(pc){
      width: 40%;
      margin: 0 auto;
    }
  }

  &_btn{
    text-align: center;
  }

  &_notes{
    text-align: center;
  }
}