@charset "UTF-8";
@import "_base.scss";

.bl_header{
  @include flexSet;
  background: $accent-color;
  padding-bottom: 2em;

  @include media(pc){
    width: 100%;
  }
}

.bl_header{
  margin-bottom: 2em;

  &_logo{
    margin-bottom: 1em;
  }

  &_logoLink{
    width: 15rem;
    font-family: 'Lemon', cursive;
    font-size: 2.5rem;
    letter-spacing: .08em;
    line-height: 1.3em;
    color: $sub-color;
    text-shadow: $txt-color 0px 4px 3px;
    background: linear-gradient($txt-color 33.3%, $main-color 0, $main-color 66.6%, $accent-color 0);
    padding: 17% 10% 16%;
    margin-top: -.8em;
    transform: rotate(-10deg);
    filter: drop-shadow(-3px 6px 6px $txt-color);

    @include media(pc){
      font-size: 3.5rem;
      width: 20rem;
      padding: 20% 10% 20%;
    }
  }

  &_nav{
    @include flexSet;
    justify-content: center;
    width: 90%;
    margin: 1em auto 0;
  }

  &_list{
    &:nth-child(n+2){
      margin-top: 1.5rem;

      @include media(pc){
        padding-left: 2rem;
      }
    }

    @include media(pc){
      margin-top: 1.5rem;
    }
  }

  &_link.ly_btn{
    font-size: $base-size;
    color: $accent-color;
    background: $txt-color;
    text-align: center;
    padding: .5em 0;

    &:hover{
      color: $accent-color;
      background: $main-color;
    }
  }
  &_lede{
    width: 90%;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 3.5rem auto 0;

    @include media(pc){
      width: 54%;
      text-align: right;
    }
  }
}