@charset "UTF-8";
@import "_base.scss";

.ly_wrapper_conts.bl_mag{
  width: 100%;
  padding: 0;
}

// 入力確認送信
.bl_mag{
  &_steps{
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &_item{
      position: relative;
      text-align: center;

      &:nth-child(n+2){
        padding-left: 2.7rem;

        &:before{
          content: "";
          position: absolute;
          left: 0;
          right: 3rem;
          top: 1.5rem;
          height: 2px;
          transform: translateY(-50%);
          background-color: $background-color;
        }
      }
    }

    &_itemNum{
      display: block;
      color: $sub-color;
      background: $txt-color;
      width: 3rem;
      height: 3rem;
      line-height: 3em;
      border-radius: 99rem;
    }

    &_itemLabel{
      display: block;
    }
  }

  &_txt{
    text-align: center;
  }
}

// 入力フォーム
.bl_mag{
  &_form{
    &_input{
      border: none;
      padding: 0;
      margin: 0 auto;
    }

    &_labelTxt{
      font-weight: 700;
    }

    &_txtfield,
    &_txtarea{
      display: block;
      width: 85%;
      background: $sub-color;
      border-radius: .5rem;
      padding: 1rem 1.5rem;
      margin-top: .5rem;
      font-weight: 400;
      font-size: .90909rem;
      line-height: 1.375em;
      border: none;

      @include media(pc){
        width: 90%;
      }
    }

    &_input{
      margin-top: 1.5rem;
    }

    &_submit{
      text-align: center;
      margin-top: 2.5rem;

      .ly_btn{
        @include btn();
      }
    }
  }
}

// 確認ページ
.bl_mag{
  &_form{
    @include media(pc){
      width: 80%;
      margin: 0 auto;
    }

    &_labelTxt,
    &_confirTxt{
      display: block;
    }

    &_submit{
      @include media(pc){
        margin-top: 2rem;
      }

      .ly_btn:nth-child(2){
        margin-top: 1.5rem;

        @include media(pc){
          margin-top: 0;
          margin-left: 2rem;
        }
      }
    }
  }
}