@import url(/Users/user/Sites/GermanyWalk/node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

.bl_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FED842;
  padding-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .bl_header {
    width: 100%;
  }
}

.bl_header {
  margin-bottom: 2em;
}

.bl_header_logo {
  width: 90%;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .bl_header_logo {
    width: 30%;
  }
}

.bl_header_logoLink {
  font-family: 'Lemon', cursive;
  font-size: 2.5rem;
  letter-spacing: .08em;
  line-height: 1.3em;
  color: #F2F2F2;
  text-shadow: #2F3B4C 0px 4px 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33.3%, #2F3B4C), color-stop(0, #BC000F), color-stop(66.6%, #BC000F), color-stop(0, #FED842));
  background: linear-gradient(#2F3B4C 33.3%, #BC000F 0, #BC000F 66.6%, #FED842 0);
  padding: 17% 10% 16%;
  margin-top: -.8em;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-filter: drop-shadow(-3px 6px 6px #2F3B4C);
          filter: drop-shadow(-3px 6px 6px #2F3B4C);
}

@media only screen and (min-width: 768px) {
  .bl_header_logoLink {
    font-size: 3.5rem;
    padding: 20% 10% 20%;
  }
}

.bl_header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding: 3px;
  margin: 1em auto 0;
}

.bl_header_list {
  width: 30%;
}

.bl_header_link {
  color: #FED842;
  background: #2F3B4C;
  text-align: center;
  padding: .5em 0;
}

.bl_header_link:hover {
  color: #FED842;
  background: #BC000F;
}

.bl_header_lede {
  width: 90%;
  text-align: right;
  margin: 0 auto;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

.bl_aside {
  background: #FED842;
  -webkit-box-shadow: 0 2px 6px rgba(47, 59, 76, 0.32);
          box-shadow: 0 2px 6px rgba(47, 59, 76, 0.32);
  padding: 30px 20px;
}

@media only screen and (min-width: 768px) {
  .bl_aside {
    width: 30%;
  }
}

.bl_aside_inner {
  width: 98%;
  margin: 0 auto 3em;
}

@media only screen and (min-width: 768px) {
  .bl_aside_ttl {
    margin-bottom: 1em;
  }
}

.bl_aside_link {
  color: #BC000F;
  background: #F2F2F2;
  text-align: center;
  padding: 1.2em;
}

@media only screen and (min-width: 768px) {
  .bl_aside_link {
    width: 40%;
    margin: 0 auto;
  }
}

.bl_aside_notes {
  text-align: center;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

.bl_index {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .bl_index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bl_index_img {
  text-align: right;
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .bl_index_img {
    position: relative;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .bl_index_left {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .bl_index_right {
    width: 36%;
  }
}

.bl_index_txt {
  color: #2F3B4C;
  padding: .5em;
}

@media only screen and (min-width: 768px) {
  .bl_index_txt {
    color: #FED842;
    background: #2F3B4C;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .2em;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

.bl_about_ttl {
  font-weight: bold;
  padding-top: 0;
}

@media only screen and (min-width: 768px) {
  .bl_about_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .bl_about_txt {
    width: 60%;
    padding-right: 3em;
    margin-top: 0;
  }
}

.bl_about_img {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .bl_about_img {
    width: 50%;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

.bl_event {
  text-align: center;
}

.bl_event_th {
  width: 25%;
  color: #F2F2F2;
  background: #2F3B4C;
}

.bl_event_month {
  color: #F2F2F2;
  background: #2F3B4C;
}

.bl_event_td {
  color: #2F3B4C;
  background: #FED842;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .bl_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bl_list_ttl {
    width: 100%;
  }
  .bl_list_txt {
    width: 100%;
    margin: 0;
  }
  .bl_list_conts {
    width: 30%;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  color: #2F3B4C;
  background: #fefefe;
  line-height: 1.7em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

.ly_wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em auto;
  }
}

.ly_wrapper_conts {
  margin-bottom: 5em;
}

.ly_wrapper_conts:first-child {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_conts {
    width: 60%;
    padding-right: 3em;
  }
}

.ly_wrapper_ttl {
  color: #FED842;
  background: #BC000F;
  padding: 3%;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .ly_wrapper_ttl {
    margin: 0 auto 2em;
  }
}

footer {
  text-align: center;
}

.ly_wrapper_conts.bl_mag {
  width: 100%;
  padding: 0;
}

input {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */