@charset "UTF-8";
@import "../config/_color.scss";
@import "../config/_size.scss";
@import "../config/_font.scss";

// メディアクエリ用のミックスイン
@mixin media($media-width) {
	@if $media-width == sp {
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == pc {
		@media only screen and (min-width: $bp-pc) {
			@content;
		}
	}
}

// flex
@mixin flexSet{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

// ボタン
@mixin btn{
	font-weight: 700;
	font-size: .90909rem;
	line-height: 1.65em;
	position: relative;
	display: inline-block;
	min-width: 12rem;
	padding: 1rem 1.5rem;
	background: $accent-color;
	color: $txt-color;
	border: none;
	border-radius: 99rem;
	text-align: center;
	transition: all .25s cubic-bezier(.4,.1,.3,1);
	-webkit-tap-highlight-color: transparent;
}